* {
  font-family: Arial, Helvetica, sans-serif;
}

.box1 {

    display: flex;
    justify-content: center;
    align-items: center;
    

    position: absolute;
    top: 0;
    left: 1000px;
    right: 0px; 
    bottom: 0px;

    margin: 30px auto; 

    width: 25px; 
    height: 10px; 
    background-color: rgb(255, 255, 255); 

}

.button-container button {
      background-color: transparent;
      
     
      border-color: transparent;
      padding: 10px 25px;
      cursor: pointer;
      border-radius: 15px;
      transition: all 0.3s ease;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    }

    .button-container button:hover {
      border-color: rgb(255, 255, 255);
      transform: scale(1.05);
    }

header {
    display: flex;
    position: fixed; 

    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    z-index: 1000;

    height: 30px; 
    background-color: #fee4a8; 
    padding: 20px; 

    margin: 0px auto; 
    font-weight: bold;
}

header > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div:nth-child(2) {
    flex-grow: 1;
}

header span {
    text-align: right;
}

@keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

h1 {
    font-size: 200px;
    margin-bottom: 0;
    animation: fadeIn 5s forwards;
}

img{
    margin-bottom: 0;
    margin-left: 0;
    animation: fadeIn 5s forwards;
}

ul{
    font-size: 50px;
    animation: fadeIn 5s forwards;
}

.about {
    margin-top: 24rem;
}

h2 {
    font-size: 100px;
}

.container {
  display: flex;
  /* grid-template-columns: auto auto auto; */
  padding: 10px;
}

.container > div {
    flex: 1;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}
